<!-- <div class="wrapper"> -->
    <div class="contact-me">
        <div class="contact-me__photo">
            <div class="photo">
                <img src="images/me_logo.jpg" alt="">
            </div>
            <div style="padding-top: 10px; text-align: center">
                <span style="font-size: 14px; color: #ffbb00">Гид</span>
                <b>Борис</b>
            </div>
        </div>
        <div class="contact-me__desc">
            <span style="color: #ffbb00;">WhatsApp, Telegram:</span> <a href="https://wa.me/79117860067" target="_blank"><b>+7&nbsp;911&nbsp;786&nbsp;00&nbsp;67</b></a><br>
            <span style="color: #ffbb00;">Instagram:</span> <a href="https://www.instagram.com/boris.efremov/" target="_blank"><b>@boris.efremov</b></a><br>
            <span style="color: #ffbb00;">E-mail:</span> <a href="mailto:lovekamski@mail.ru" target="_blank"><b>LoveKamSki@mail.ru</b></a>
        </div>
    </div>
<!-- </div> -->