<div class="wrapper">
    <div class="extra-wrapper">
    <h2>ОТВЕТЫ НА ВОПРОСЫ</h2>

    <div class="faqZ">
        <details class="faq_it noselect">
            <summary>Будет ли тяжело?</summary>
            <p>В походе все вещи несем на себе и поэтому стоит ответственно подходить к выбору одежды и снаряжения. Лишнего брать не стоит, а если сомневаетесь, то обязательно уточните у гида (в день прилета) необходимость тех или иных вещей.</p>
            <p>Вес собранного рюкзака должен составлять <u>не более <strong>9-11 кг</strong></u> (без учета вещей в которых вы будете постоянно идти: ботинки, штаны, футболка).</p>
            <p>К личной одежде и снаряжению, которые должны занимать <u><strong>max.</strong> <strong>65-70%</strong> объема рюкзака</u>, перед походом добавятся групповое снаряжение <strong>2-2.5 кг</strong> (палатка, газ) и продукты &mdash; это дополнительно примерно <strong>4-6 кг</strong>. Вес напрямую зависит от количества дней похода и состава группы (% мужчин).</p>                
          </details>                          

        <details class="faq_it noselect">
            <summary>Авиабилеты?</summary>
            <p>Камчатку с Москвой разделяют 9 часовых поясов и потребуется некоторое время для адаптации. Лучше прилететь на Камчатку за 1-2 дня до тура. Вылет обратно в последний день тура или можно остаться и продолжить исследовать Камчатку. Поиском и покупкой билетов займитесь за 5-9 месяцев до вылета. Минимальная цена билета в оба конца из Москвы: 28400р. Недорогие билеты периодически появляются в продаже, важно не пропустить этот момент и успеть купить "счастливый" билет.</p>
          </details>

          <details class="faq_it noselect">
            <summary>Может ли измениться программа путешествия?</summary>
            <p>Возможны изменения в программе тура из-за погоды и соображений безопасности. Окончательное решение принимает главный гид после предварительного согласования с участниками похода.</p>
          </details>


          <details class="faq_it noselect">
            <summary> Когда лучше приезжать?</summary>
            <p>Летний туристический сезон длится &nbsp;на Камчатке с начала июля по конец сентября. &quot;Лучшее время&quot; для посещения зависит от вида туризма (автотур, пеший поход, альпинизм, рыбалка), района путешествия и &nbsp;наличия опыта подобных мероприятий.</p>
            <p>В <strong>июле </strong>еще можно местами встретить снег на &quot;севере&quot; Камчатки (район Толбачика), а уж на юге (район Мутновского и Горелого вулканов) снега еще много. Контрасты поражают: зеленые поляны, вулканы в снегу, талые снежные озера с голубой водой. Вторая половина июля это период цветения альпийский лугов. Обилие цветов поражает воображение и дарит яркие кадры. Начинается сезон комаров и нерест рыбы. Длинный световой день.</p>
            <p>В <strong>августе </strong>пик сезона комаров, рыба активно идет на нерест. &nbsp;Спеет ягода, появляются грибы. Это период максимального количества туристов и оптимальное время для визита в район вулкана Толбачик. Для июля-августа характерны прогулки по Камчатским &quot;джунглям&quot; в долинах рек и на низменности — высота отдельных видов растительности достигает 2-4 метров.</p>
            <p>В <strong>сентябре </strong>еще тепло и временами жарко днем; по вечерам и рано утром прохладно, возможны заморозки. Золотая осень вступает в свои права. Еще есть ягода и грибы. Световой день заметно короче.</p>
          </details>

          
          <details class="faq_it noselect">
            <summary>Что с погодой?</summary>
            <p>Климат на полуострове — умеренный, в центральной части — континентальный с холодной зимой и тёплым летом, на побережьях — морской со сравнительно мягкой зимой и прохладным летом. На Камчатке выделяют более 10 климатических зон. Температура может варьироваться от +10 градусов в Петропавловске-Камчатском до +30 в центральной части Камчатки (Мильково) и на "севере" (Козыревск).</p>
            <p>Так что нужно быть готовым к любым капризам природы: ветер, дождь, холод, жара. Средняя летняя температура 10-15 градусов. "Сезона дождей" на Камчатке нет. Погода — это лотерея, но "нет плохой погоды, есть плохое снаряжение".</p>
          </details>              

          
          <details class="faq_it noselect">
            <summary>Питание на маршруте?</summary>
            <p>Участники готовят сами (по 2-3 человека) в порядке дежурства. Гид всегда поможет словом и делом. Завтрак: гречка, овсянка, булгур, кукурузная, пшено, рис + сухие сливки / сгущенка, джем, орехи, масло гхи, мед; чай, натуральный кофе.  Обед: хлеб / сухари / хлебцы, сыр / колбаса / паштет / сало, орехи, сухофрукты, шоколад, конфеты, чай. На дневках варим суп, борщ или уху.  Варианты ужина: макароны / гречка / рис / булгур / чечевица /  карпюр + тушенка / сушеное мясо или фарш; чай, кофе, печенье / пряники / сушки.  Используем специи, соусы и "местные" продукты — ведь так полезнее и аппетитнее.</p>
          </details>
          
          <details class="faq_it noselect">
            <summary>Будет ли мобильная связь и электричество?</summary>
            <p>Мобильная связь отсутствует на протяжение всего тура. Возможность подзарядить гаджеты (телефон, фотоаппарат,...) есть на Тимоновских источниках. Так что рекомендуем взять PowerBank.</p>
          </details>

          <details class="faq_it noselect">
            <summary>Медведи на маршруте?</summary>
            <p>Встречи с медведями возможны. При соблюдении правил поведения, которые вам расскажет гид, ничего страшного не произойдет.</p>
          </details> 

          <details class="faq_it noselect">
            <summary>Можно ли с детьми?</summary>
            <p>Дети старше 10 лет под ответственность родителей могут быть допущены в походы Вокруг Толбачика и Налычево. Бакенинг только 18+</p>
          </details>           
          
          <details class="faq_it noselect">
            <summary>Что с предоплатой?</summary>
            <p>Главным условием бронирования места в группе является покупка билетов на Камчатку. Предоплата - 20% стоимости похода вносится до 15 июня.</p>
          </details>  

          <!-- <details class="faq_it">
            <summary>?</summary>
            <p></p>
          </details> -->
    </div>
</div>
</div>