<div class="footer-content">
    <div>
        Boris-Trip.com, <br> 2020
    </div>
    <div class="callback-block">
        <div class="telegram">
            <a href="https://telegram.me/lovekamski" target="_blank"><img src="/images/telegram.svg" alt=""></a>
        </div>
        <div class="whatsapp">
            <a href="https://wa.me/79284505536" target="_blank"><img src="/images/whatsapp.svg" alt=""></a>
        </div>
        <div class="email">
            <a href="mailto:lovekamski@mail.ru" target="_blank"><img src="/images/email.svg" alt=""></a>
        </div>        
    </div>
</div>    
