    <!-- Форма обр. связи -->
    <div class="hiscreen-form">
        <div class="info-box-form">

            
            <form id="reqst_form">
                <input onkeyup="check_input(this)" type="text" id="form_fio" name="form_fio"
                title="Укажите ФИО" placeholder="Ефремов Борис Валерьевич" required>
                <br>
                <input onkeyup="check_input(this)" type="text" id="form_email" name="form_email"
                pattern="^[^ ]+@[^ ]+\.[a-z]{2,}" title="Укажите почту" placeholder="lovekamski@mail.ru" required>
                <br>
                <textarea name="form_comments" id="form_comments" cols="80" rows="2" placeholder="Сколько вас человек, вопросы, пожелания, интересующая программа..." form="reqst_form"></textarea>
                <br>

                <input id="form_phone" name="form_phone" type="text" value="" placeholder="+7 (911) 786-00-67" required>
                <div class="unmasked-value desc" style="display: none;">unmasked: <span id="phone-unmasked"></span><span id="phone-complete" class="example__complete"></span></div>

                <input type="hidden" id="src-page" name="src-page" value="">
                <!-- SUBMIT -->
                <br>
                <input type="submit" value="Хочу в поход!">
                <br>
                <div id="wdh_result_form"></div>
            </form>

        </div>
    </div> 