    <!-- Форма обр. связи -->
    <div id="hiscreen-form" class="hiscreen-form">
        <div class="info-box-form">
            <h1 style="text-align: center; text-transform: uppercase">ЗАЯВКА НА УЧАСТИЕ В ПОХОДЕ</h1>
            <p style="text-align: center; padding: 10px 10px 20px; font-size: 1.2rem;">Оставьте заявку, чтобы узнать все детали похода.</p>
            <form id="reqst_form">
                <div>
                    <input onkeyup="check_input(this)" type="text" id="form_fio" name="form_fio"
                    title="Укажите ФИО" placeholder="Иванов Иван Иванович" required>
                </div>
                <div>
                    <input onkeyup="check_input(this)" type="text" inputmode="email" id="form_email" name="form_email"
                    pattern="^[^ ]+@[^ ]+\.[a-z]{2,}" title="Укажите почту" placeholder="yourbox@mail.ru" required>
                </div>
                <div>
                    <textarea name="form_comments" id="form_comments" cols="80" rows="3" placeholder="Какой поход вас интересует? Сколько вас человек? Ваши вопросы и комментарии, если есть." form="reqst_form"></textarea>
                </div>
                <div>
                    <input id="form_phone" name="form_phone" type="text" inputmode="tel" value="" placeholder="+7 (928) 450-55-36" required>
                    <div class="unmasked-value desc" style="display: none;">unmasked: <span id="phone-unmasked"></span><span id="phone-complete" class="example__complete"></span></div>
                </div>
                <input type="hidden" id="src-page" name="src-page" value="">
                <!-- SUBMIT -->
                
                <label class="label4fz" for="persFZ">
                    <input type="checkbox" id="persFZ" onchange="document.getElementById('iwonnago').disabled = !this.checked;" />
                    <span style="word-break: break-word;">&nbsp;Я согласен на <a href="/politika-konfidentsialnosti.html"  class="darker" target="_blank">обработку персональных&nbsp;данных</a></span>
                </label>

                <input type="submit" id="iwonnago" value="Хочу в поход!" disabled>
                
                <div id="wdh_result_form"></div>
                <p style="text-align: center; padding: 10px 0; font-size: 1.2rem;">До встречи на Камчатке!</p>
            </form>

        </div>
    </div> 