<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
	<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Mask input -->
    <script src="js/imask.js"></script> 
    
    <style>
        #modal {
            width: 100%;
            max-width: 600px;
            padding: 0 0 40px 0;
            text-align: center;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        #modal .fancybox-close-small {
            top: 15px;
        }
  
        #modal .content-header {
            border-bottom: 1px solid #eee;
            padding: 20px;
            background-color: #24A9CF;
            color: #fff;
            font-size: 1.3rem;
        }

        #modal .content-scroll {
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }      
    </style>
</head>
<body>
    <div id="modal">
        <div class="content-header">
            <span>Заявка на получение консультации</span>
        </div>
        <div class="content-scroll">
            <form id="reqst_form_modal">
                <label for="form_fio_modal">Мы расскажем о наших турах, ответим на ваши вопросы и поможем с выбором тура с учетом ваших интересов и физической подготовки</label><br>
                <input onkeyup="check_input_modal(this)" type="text" id="form_fio_modal" name="form_fio"
                title="Укажите ФИО" placeholder="Иванов Иван Иванович" required>
                <br>
                <input onkeyup="check_input_modal(this)" type="text" inputmode="email" id="form_email_modal" name="form_email"
                pattern="^[^ ]+@[^ ]+\.[a-z]{2,}" title="Укажите почту в формате mybox@mail.ru" placeholder="lovekamski@mail.ru" required>
                <br>
                <textarea name="form_comments" id="form_comments" cols="80" rows="2" placeholder="Сколько вас человек, вопросы, пожелания, интересующая программа..." form="reqst_form_modal"></textarea>
                <br>

                <input id="form_phone_modal" name="form_phone" type="text" inputmode="tel" value="" placeholder="+7 (928) 450-55-36" required>
                <div class="unmasked-value desc" style="display: none;">unmasked: <span id="phone-unmasked"></span><span id="phone-complete" class="example__complete"></span></div>

                <input type="hidden" id="src-page" name="src-page" value="">
                <!-- SUBMIT -->
                <br>
                <label class="label4fz" for="persFZ">
                    <input type="checkbox" id="persFZ" onchange="document.getElementById('iwonnago2').disabled = !this.checked;" />
                    <span style="word-break: break-word;">&nbsp;Я согласен на <a href="/politika-konfidentsialnosti.html" target="_blank">обработку персональных&nbsp;данных</a></span>
                </label>

                <input type="submit" id="iwonnago2" value="Получить консультацию" disabled>
                <br>
                <div id="wdh_result_form"></div>
            </form>
        </div>
    </div>

    <script>
        var phoneMask = IMask(document.getElementById('form_phone_modal'), {
        mask: '+{7} (000) 000-00-00'
        }).on('accept', function() {
        document.getElementById('phone-complete').style.display = '';
        document.getElementById('phone-unmasked').innerHTML = phoneMask.unmaskedValue;
        }).on('complete', function() {
        document.getElementById('phone-complete').style.display = 'inline-block';
        });
    </script>

    <script>
        function check_input_modal(e) {
            // alert(e.id); //debug
            let input_src = document.getElementById(e.id)
            let input_regexp = "";

            switch(e.id) {
            case "form_fio_modal":
                input_regexp = /([А-Яа-я]{2,} +){2}[А-Яа-я]{2,}/g;
            break;
            case "form_email_modal":
                input_regexp = /^[^ ]+@[^ ]+\.[a-z]{2,}/g;
            break;
            default:
            }

            if (input_src.value.match(input_regexp)) {
                input_src.style.borderColor = "#108339"; //OK color
            } else
            {
                input_src.style.borderColor = "#DF1515"; //Wrong color
            }
            if (input_src.value == "") {
                input_src.style.borderColor = "#AAA9A9";
            }
        }

        $("#reqst_form_modal").submit(function(e){
                e.preventDefault();
                // set hidden value
                $("input[id=src-page]").val("popup_get-consult");                
                $.ajax({
                    type: "POST",
                    url: "components/wdh_send_form.php",
                    data: $("#reqst_form_modal").serialize(),
                    success: function(data) {
                        $("#wdh_result_form").html(data);
                        document.getElementById('reqst_form_modal').reset();
                        // window.alert("Заявка на консультацию отправлена. Мы с вами свяжемся!");
                        // debug - open popup "ThankYou" page on submit
                        // $.fancybox.open([ $('#thank-you-page') ]);
                    }
                });
            });		
    </script>

</body>
</html>
