			<!-- МЕНЮ -->
			<div class="menu">
				<header class="header">
					<div class="containerX">
						<div class="header__body">
							<a href="#" class="header__logo">
								<img src="images/wp1.jpg" alt="">LOGO
							</a>
							<div class="header__burger">
								<span></span>
							</div>
							<nav class="header__menu">
								<ul class="header__list">
									<li>
										<a href="" class="heder__link">Главная</a>
									</li>
									<li>
										<a href="" class="heder__link">График 2020</a>
									</li>
									<li>
										<a href="gallery.html" class="heder__link">ФОТО</a>
									</li>
									<li>
										<a href="reviews.html" class="heder__link">ОТЗЫВЫ</a>
									</li>
									<li>
										<a href="" class="heder__link">О НАС</a>
									</li>
									<li>
										<a href="" class="heder__link">Контакты</a>
									</li>																			
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>
			<!-- КОНЕЦ МЕНЮ -->