/* Photo album list */

.photo-album-list {
	padding: 0 20px 40px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
	grid-gap: 40px;
}
.photo-album-list__item {
	border: 1px solid rgb(102, 60, 5);
	height: 400px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.photo-album-list__item .album-title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 2rem;
    z-index: 1;
    padding: 0 30px;
}

.photo-album-list__item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: 50% 50%;
    filter: grayscale(30%);
	transition: transform 0.5s ease;
}

.photo-album-list__item:hover img {
	transform: scale(1.1);
	filter: grayscale(0%);
}

.photo-album-list__item.album_disabled {
	filter: grayscale(100%);
	cursor: auto;
}


/* Photo album */

.photo-album {
	padding: 0 10px 30px 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
	grid-gap: 20px;
}
.photo-album__item {
	border: 1px solid #3f4553;
	height: auto;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.photo-album__item img {
	/* display: block; */
	width: 100%;
	height: 100%;;
	object-fit: cover;
	object-position: 50% 50%;
	transition: transform 0.3s ease; 
}

.photo-album__item:hover img {
	transform: scale(1.2);
	cursor: zoom-in;
	/* filter: grayscale(0%); */
}


@media screen and (max-width: 767px) {
	.photo-album {
		padding: 0 10px 20px 10px;
		grid-template-columns: repeat(auto-fill, minmax(min(130px, 100%), 1fr));
		grid-gap: 10px;
	}
}