.image-container {
    position: relative;
    /* width: 300px; adjust the width and height to your image size */
    /* height: 200px; */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(195, 56, 56, 0.6); /* black gradient with 50% transparency */
  }
  
  .image-container .magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* adjust the width and height to your magnifying glass image size */
    height: 50px;
    background-image: url('/images/lupa.png'); /* replace with your magnifying glass image URL */
    background-size: contain;
    background-position: center;
    z-index: 1;
  }

  
  #lupa:hover:before,
  #lupa:hover .magnifying-glass {
      display: none;
  }