/* Import modules */
/* @import "toggle-switch.css"; */
@import "gallery.css";


:root {
	--wrapper-read-block: 900px;
	--tab-tour-desc-width: 900px;
	--extra-padding: 15px;
	--main-menu-height: 80px;
	--photo-size: 200px;
	--photo-padding: 20px;
	--faq-item-gap: 30px;
}

@media screen and (max-width: 767px) {
    :root {
		--extra-padding: 10px;
		--main-menu-height: 50px;
		--photo-size: 100px;
		--photo-padding: 10px;
		--faq-item-gap: 15px;
    }
}


/* Scroll-bar color */
@media (min-width: 1000px) {
	::-moz-scrollbar {
	  width: 10px; }
  
	::-webkit-scrollbar {
	  width: 10px; }
  
	::-moz-scrollbar-track {
	  background: #3f4553; }
  
	::-webkit-scrollbar-track {
	  background: #3f4553; }
  
	::-moz-scrollbar-thumb {
	  background: #e64c17; }


	::-webkit-scrollbar-thumb {
	  background: #e64c17; }
  
}


/* Обнуление */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited, a:hover {text-decoration: none; color: #fff;}

a.darker, a.darker:visited, a.darker:hover {text-decoration: none; color: #EB1416;}


html {
	font-size: 18px;
	font-weight: normal;
  }

@media (max-width: 600px) {
	html { font-size: 16px; }
}


h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    clear: both;
    font-weight: 500;
    margin: 30px 0;
    /* color: #252525; */
}


@media (max-width: 767px) {
	h1,h2,h3,h4,h5,h6{
		line-height: 1.2;
		margin: 15px 0;
	}	
}


h1 {
	font-size: 2rem;
	/* @media (max-width: 500px) { font-size: 1rem; }; */
	font-weight: 800;
	letter-spacing: .5px;
}

h1.tour-header {
	font-size: 3rem;
}

@media screen and (max-width: 767px) {
	h1.tour-header {
		font-size: 2.5rem;
	}
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: 600;
	color: #db7324;
}

h5 {
	font-size: 1.125rem;
	font-weight: 600;
}

h6 {
	font-size: 1rem;
	font-weight: 600;
}

li {
	list-style: none;
}

.highlight-yellow {
	background-color: rgba(255, 215, 0, .8); /*#FFD700*/
}

/* Progress bar */

.top-scroll {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: transparent;
  }
  
  /* The progress container (grey background) */
  .progress-container {
	width: 100%;
	height: 4px;
	background: transparent;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
	height: 4px;
	background: #29922d;
	width: 0%;
  }


/* Основа */

/* Right now not work correctly */
section:target:before {
    content: "";
	display: block;
    height: var(--main-menu-height);
	margin-top: -(var(--main-menu-height));
}

body {
	background-color: #f7e7d0; /*#f3e5e5;*/
	font-family: 'PT Sans', sans-serif;
	/* font-family: 'Istok Web', sans-serif; */
	
	/* Do i need line below?!!! */
	/* height: 100%; */

	/* Menu padding */
	padding-top: var(--main-menu-height);
}

.text-wrapper p,
.show-more-block p,
.about-me p,
.info-box2 p
{
	text-indent: 20px;
	line-height: 1.6;
	text-align: justify;
}

.text-wrapper {
	max-width: var(--wrapper-read-block);
	padding: 0 10px;
	margin: 0 auto;
}

.extra-wrapper {
	padding: 0 var(--extra-padding);
}

.info-block-1 {
	border: 5px solid #000;
	padding: 30px;
}

@media screen and (max-width: 767px) {
	.info-block-1 {
		border: none;
		border-top: 4px solid #000;
		border-bottom: 4px solid #000;
		padding: 15px;
	}	
}


.main {
	/* footer height check below */
	/* min-height: calc(100vh - 64px); 
	padding-top: var(--main-menu-height); */
}


.img-fluid {
	width: 100%;
}

/* HiScreen */

.hiscreen {
	position: relative;
	height: 80vh;

	background-image: url(../images/tours/ko/cover/ko_cover_04.jpg);
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* new lines demo */
	display: flex;
	justify-content: center;
	align-items: center;
}


#ko .hiscreen {
	background-image: url(../images/tours/ko/cover/ko_cover_02.jpg);
	display: block;
}

#ko .hiscreen::after {
	background: none;
}

#ko .welcometext {
	display: inline-block;
	position: absolute;

	left: 20%;
	top: 30%;
	/* padding make x-scroll */
	padding: 0 30px;
}


@media screen and (max-width: 767px) {
	#ko .welcometext {
		left: 0;
		top: 30%;
		transform: translateY(-15%);
	}
}


#bak .hiscreen {
	background-image: url(../images/tours/bak/cover/bak_cover_02.jpg);
	display: block;
	background-position: 40% 60%;
}

#bak .hiscreen::after {
	background: none;
}


#bak .welcometext {
	display: inline-block;
	position: absolute;

	left: 20%;
	top: 20%;
	/* padding make x-scroll */
	padding: 0 30px;
}


#aboutus .welcometext {
	display: inline-block;
	position: absolute;
	height: 90%;
	width: 70%;
	max-width: 1280px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* padding make x-scroll */
	padding: 0 30px;
	font-size: 20px;
	/* border: 1px solid red; */
}

#aboutus .about-me {
	height: 70%;
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(104, 102, 94, 0.5);
	overflow-y: scroll;
}

.about-me p,
.info-box2 p {
	letter-spacing: .5px;
}

@media screen and (max-width: 767px) {
	#aboutus .welcometext {
		width: 90%;
		height: 90%;
		padding: 0 10px;
		font-size: 16px;
	}

	.about-me p,
	.info-box2 p {
		letter-spacing: 0;
	}

}




.hiscreen::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
	background: rgb(177,80,180);
	background: linear-gradient(180deg, rgba(177,80,180,0.2805497198879552) 23%, rgba(0,212,255,0.23573179271708689) 72%);
}

.welcometext {
	padding: 0 15px;
	font-size: 2rem;
	color: #fff;
	z-index: 2;
	text-align: center;
}

.hiscreen2 {
	height: 100vh;
	background-image: url(../images/tours/ko/cover/ko_cover_05.jpg);
	background-position: 50% 10%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;	
}


.hiscreen3 {
	position: relative;
	height: 100vh;
	background-image: url(../images/me_tolbachik-2.jpg);
	background-position: 55% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}



.hiscreen-form {
	position: relative;
	height: 100vh;
	
	background-image: url(../images/tours/ksu/cover/ksu_cover_08.jpg);
	background-position: 50% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	/* display: flex;
	justify-content: center;
	align-items: center;	 */
	/* overflow: hidden; */
}


#ko .hiscreen-form {
	background-image: url(../images/tours/ksu/cover/ksu_cover_07.jpg);
	background-position: 50% 80%;	
}


#bak .hiscreen-form {
	background-image: url(../images/tours/bak/cover/bak_cover_01.jpg);
	background-position: 50% 80%;	
}


.hiscreen404 {
	height: 100vh;
	background-image: url(../images/tours/ko/cover/ko_cover_05.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.modal404 {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-box {
	padding: 30px;
	color: #fff;
	font-size: 2rem;
	width: 50%;
	background-color: rgba(130, 130, 130, 0.6);
}


.info-box2 {
	border-radius: 10px;
	padding: 30px;
	color: #fff;
	font-size: 1.2rem;
	width: 50%;
	background-color: rgba(130, 130, 130, 0.65);
}


.info-box-form {
	/* position: absolute; */
	margin-left: auto;
	margin-right: auto;
	transform: translateY(50%);

	padding: 20px 30px;
	color: #fff !important;
	width: 40%;
	background-color: rgba(130, 130, 130, 0.4);
	/* left: 50%;
	bottom: 10%;
	transform: translatex(-50%); */
}

@media screen and (max-width: 767px) {
	.info-box {
		padding: 10px 15px;
		color: #fff;
		font-size: 1rem;
		width: 70%;
		background-color: rgba(130, 130, 130, 0.6);
	}

	.info-box2 {
		padding: 20px;
		color: #fff;
		font-size: 1rem;
		width: 80%;
		background-color: rgba(130, 130, 130, 0.4);
		overflow: hidden;
	}

	/* debug */
	.hiscreen-form {
		height: 750px;
	}


	.info-box-form {
		width: 85%;
		padding: 15px 10px;
	}

}

/* .info-box::after {
	content: '';
	position: absolute;
	top: -15%;
	right: 0;
	width: 100%;
	height: 25vh;
    z-index: 1;
	background: rgba(68, 68, 68, 0.8);
} */



.clearfix::after { 
    content: '';
    clear: both; 
    display: block;
   }


/* End of HiScreen*/



/* ГЛАВНОЕ МЕНЮ */
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}

	.header:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		/* background-color: #B03FF7; */
		background-color: rgb(39, 39, 39);
		opacity: 0.8;
		z-index: 3;
	}

	.header__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: var(--main-menu-height);
		align-items: center;
		padding: 0 20px;
	}
	.header__logo {
		flex: 0 0 65px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 4;
	}

	.header__logo img {
		max-width: 100%;
		display: block;
	}

	.header__burger {
		display: none;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 10px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		top: 10px;
}

	.header__burger.active span {
		display: none;
	}

	.header__list {
		display: flex;
		position: relative;
		z-index: 4;
		justify-content: center;
		flex: 2 0;
	}

	.header__list li {
		list-style: none;
		margin-left: 20px;
		font-weight: 600;
		font-size: 18px;
		padding-bottom: 7px;
		position: relative; 
	}
	.header__link {
		color: #FFDA35;
		text-transform: uppercase;
		text-decoration: none;
		/* font-size:18px; */
		font-size: calc(16px + 4 * ((100vw - 320px) / 1140));
	}

	.header__link:hover {
		color: #FFDA35 !important;
	}

	.header__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 2 0;
	}

	.rightside__menu {
		z-index: 4;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;
	}

	.right_social_links {
		display: flex;
		justify-content: center;
	}

	.right_social_links a {
		display: block;
		/* vertical-align: middle; */
	}
	
	.right_social_links_item {
		padding: 0 4px;
	}

	.get-feedback-btn {
		display: inline-table;
		height: 30px;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 800;
		border: 1px solid #fff;
		border-radius: 15px;
		color: #fff;
		background-color: #db7324;
		padding: 0 10px;
		margin-left: 5px;
		cursor: pointer;
}


	@media screen and (max-width: 767px) {
		.lock {
			overflow: hidden; 
		}
		.header__logo {
			display: inline-flex;
			flex: 0 0 45px;
		}

		.header__body {
			justify-content: flex-end;
		}
		.header__burger {
			display: block;
			position: relative;
			z-index: 4;
			width: 30px;
			height: 20px;
		}

		.header__burger span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 3px;
			border-radius: 1.5px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before,
		.header__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 1.5px;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before{
			top: 2px;
		}

		.header__burger:after {
			top: 16px;
		}

		.header__menu {
			position: fixed;
			left: 0;
			top: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(110, 110, 110);
			padding-top: 60px;	
			display: block;
			text-align: center;
		}
		.header__menu.active {
			top: 0;
			transition: all 0.3s ease 0s;	
		}

		.header__list {
			display: block;
			padding-top: 20px;
		}
		
		.header__list li {
			margin-left: 0;
		}

		.rightside__menu {
			display: block;
			padding-top: 20px;
		}

		.get-feedback-btn {
			/* display: inline-table; */
			margin-top: 20px;
		}

		.main {
			/* footer aux */
			/* padding-top: 50px; */
		}

		.header__menu ul>li>a:after {
			height: 0px !important;
		}


	}


	/* Scroll to top */
	.scroll-top-btn {
		display: none;
		position: fixed;
		z-index: 100000;
		right: 30px;
		bottom: 50px;
		min-width: 50px;
		min-height: 50px;
		border-radius: 50%;
	}	

	/* menu EFFECTS */

	.header__menu ul>li>a:hover:after {
		transform: scaleX(1);
		transform-origin: left
	}
	
	.header__menu ul>li>a:after {
		content: "";
		display: block;
		height: 3px;
		border-radius: 10px;
		transform: scaleX(0);
		transition: .4s transform;
		transform-origin: 100% 0;
		background: #FFDA35;
		opacity: .9;
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		z-index: 333
	}
	/* END of EFFECTS */



/* КОНЕЦ ГЛАВНОЕ МЕНЮ */

.block-title {
	text-align: center;
	font-size: 30px;
	font-weight: 500;	
}


/* ТУРЫ на ГЛАВНОЙ */

em {
	color: #854141;
	font-size: 1.2rem;
	font-weight: bolder;
}

.tourItem {
	padding: 30px 20px;
}

.tourWrapper {
	border: 1px solid #643C3C;
	border-radius: 0 0 15px 15px;
	background-color: rgb(204, 201, 201);
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}


.tourWrapper:hover {
	box-shadow: 2px 2px 0 1px rgb(70, 69, 69), 0 0 0;
}

.tour-content-text {
	padding: 10px;
	color: #000;
}

.tour-content-btn {
	padding: 10px;
	display: inline-block;
}

.get-tourinfo-btn {
	height: 30px;
	display: flex;
	align-items: center;
	font-size: .9rem;
	border: black 1px solid;
	border-radius: 5px;
	background-color: #d90070;
	color: #fff;
	padding: 10px 30px;
}



/* КОНЕЦ ТУРЫ на ГЛАВНОЙ */

/* ПРОГРАММА ТУРА ПО ДНЯМ*/

.days-list {
	max-width: var(--tab-tour-desc-width);
	margin: 0 auto;
}

.day-item {
	margin-bottom: 10px;
	padding-bottom: 30px;
	background-color: #fff;
}

.day-item-title {
	/* cursor: pointer; */
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
	padding: 10px 10px;
}

.day-item-content {
	padding: 0 10px 10px 10px;
	text-align: justify;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	line-height: 1.67;
}
.day-item-content img {
	display: block;
	width: 100%;
    height: 270px;
    object-fit: scale-down;

	margin: 10px auto;
}

.t778__scroll-icon-wrapper {
	text-align: right;
	margin-right: 10px;
	position: absolute;
	right: 22px;
	top: 0;
	display: none;
}


/* Tabs for day-by-day programm */

.days-list>div:not(:first-child) {
	display: none;
}


.feedback-channels>div:not(:first-child) {
	display: none;
}


/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #f1f1f1;
  }
  
  .tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	transition: 0.3s;
	font-size: 16px;
  }
  
  .tab button:hover {
	background-color: #ddd;
  }
  
  .tab button.active {
	border-top: 3px solid orangered;
	background-color: #fff;
	font-weight: 600;
  }

/* End of day-by-day */


@media screen and (max-width: 600px){

	.days-list {
		max-width: 100%;
		overflow-x: scroll;
		display: flex;
		flex-direction: row-reverse;
	}

	.day-item {
		min-width: 75%;
		margin: 10px 20px;
		display: block !important;   /*FIX tab view*/
		padding-bottom: 0;		
	}

	.day-item-content img {
		height: auto;
		object-fit: cover;
	}

	.day-item:last-child {
		/**
		 * This is the first part of a flexbox hack.
		 * It addresses a problem flexbox has with scrolling
		 * content. Without this hack, the children on the
		 * far right of the container will be flush against
		 * the container's right edge.
		 */
		position: relative;
	  }
	  
	  .day-item:last-child::before {
		/**
		 * This is the second part of the hack. It creates
		 * an invisible element on the last child that
		 * forces a space between the child and the right
		 * edge of the container.
		 */
		display: block;
		width: 20px;
		height: 1px;
		position: absolute;
		top: 0;
		right: 100%;
		visibility: hidden;
		content: "";
	  }



	.day-item-content {
		font-size: 14px;
	}

	.day-item-title {
		font-size: 16px;
	}

	.t778__scroll-icon-wrapper {
		display: block;
	}

	.t778__scroll-icon {
		animation: t778__icon-anim 1.5s infinite;
	}


	/* Tabs for day-by-day programm */

	/* not first 2 items... */
	.days-list>div:nth-child(n+3) {
		display: block;
	}

	/* first 2 items */
	.days-list>div:not(:nth-child(n+3)) {
		display: none !important;
	}

	/* End of day-by-day */



}


/* ПРобы с Блоком краткой информации*/


.advantage {
	border: solid 2px #F88310;
	margin: 5px;
	padding: 5px;
	text-align: center;
}


.tour-brief {
	padding-top: 20px;
}

.tour-brief-part>div {
	/* border: 1px solid red; */
	/* text-align: center; */
	margin: 20px 0;
}

.tour-brief-part>ul>li::before {
	content: "\2022";
	color: rgb(129, 65, 65);
	font-size: 1.2rem;
	font-weight: bold;
	display: inline-block;
	width: .6em;
	margin-left: -.3em;
	margin-top: .3em;
}

.tour-brief-part>ul>li{
	padding-left: 20px;
}

.tour-brief-part>ul>li ul{
	padding-left: 10px;
}

.tour-brief.separated>div:not(:last-child) {
	border-right: 1px solid rgb(180, 141, 90);
}

@media screen and (max-width: 999px){
	.tour-brief.separated>div:not(:last-child) {
		border-right: none;
	}
}

/* МЕДИА-ЗАПРОСЫ */

@keyframes t778__icon-anim {
	0% {
		transform: translate3d(-20px, 0, 0);
		opacity: 0
	}
	10% {
		transform: translate3d(-20px, 0, 0);
		opacity: 0
	}
	20% {
		transform: translate3d(-20px, 0, 0);
		opacity: 1
	}
	70% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	80% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	81% {
		transform: translate3d(0, 0, 0);
		opacity: 0
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0
	}
}
.t778__scroll-icon {
	animation: t778__icon-anim 1.5s infinite
}


/* МОДАЛЬНЫЕ ОКНА */


/* МОДАЛЬНЫЕ ОКНА */

/* ФОРМЫ И ЭЛЕМЕНТЫ */
	input {
		display: block;
		border: 1px solid lightgray;
	}
	
	input[type="text"],
	input[type="tel"]
	{
		height: 56px;
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.6;
		width: 100%;
		
		border-radius: 5px;
		padding: 0 10px;
		font-family: 'Ubuntu', sans-serif;	
	}

	@media screen and (max-width: 767px){
		input[type="text"],
		input[type="tel"]
		{
			height: 40px;
			font-size: .9rem;
			line-height: 1.3;
		}
	}

	textarea {
		padding: 5px;
		font-size: 0.8rem;
		/* line-height: 1.4; */
		border-radius: 5px;
		border: 1px solid #ccc;
		/* box-shadow: 1px 1px 1px #999; */
		resize: vertical;
		width: 100%;
		/* margin-bottom: 20px; */
	}

	input[type="submit"] {
		border-radius: 10px;
		font-size: 20px;
		width: 100%;
		border: none;
		/*outline: none;*/
		padding: 10px;
		height: 56px;
		background-color: #FFA13C;
	}


	input[type="checkbox"] {
		display: inline-block;
	}

	#wdh_result_form {
		padding: 5px 10px;
	}

	#wdh_result_form.success {
		background-color: green;
	}	

	#wdh_result_form.error {
		background-color: rgb(238, 87, 87);
	}	


	#reqst_form>div {
		padding: 0 0 10px;
	}
/* /ФОРМЫ И ЭЛЕМЕНТЫ */


/* Accordion component */

.accordion {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.acc-wrapper {
	border-top: 2px solid #000;
}

.acc-wrapper:last-of-type {
	border-bottom: 2px solid #000;
}

.acc-header {
	position: relative;
	overflow: hidden;
}

.acc-header-title {
	word-break: break-all;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	padding: 25px 65px 25px 10px;
}

.acc-header-btn {
	position: absolute;
	right: 0px;
	top: 50%;
	/* border: 1px solid red; */
	width: 40px !important;
	height: 40px !important;
	/* padding: 8px; */
	border-radius: 50%;
	background-color: burlywood;
	margin-right: 10px;
	transform: translateY(-50%);
}

.acc-header-btn img {
	width: 100%;
	height: auto;
	transition: transform .2s ease-in-out;
}

.acc-content {
	max-height: 0px;
	overflow: hidden;
	padding: 0 20px;
	transition: max-height ease-in-out .2s,opacity ease-in-out .3s;
}
.acc-content-desc {
	padding-bottom: 20px;
}

.rotated45 {
	transform: rotate(-45deg);
}

.acc-header:hover .acc-header-btn {
  background-color: chocolate;
}

/* END of Accordion component */


/* FOOTER */
.footer {
	/* position: absolute; */
	background-color: #6B6B6B;
	color: #fff;
	font-size: 1.1rem;
	width: 100%;
	padding: 10px;
	text-align: center;

}

.footer-content {
	display: flex;
	justify-content: center;
}

.footer-content>div {
	padding: 0 10px;
}

.callback-block {
	text-align: center;
	vertical-align: middle;
}

.callback-block div {
	display: inline-block;
	padding: 0 6px;
	margin-top: 10px;
}

.callback-block div>a>img {
	display: block;
	width: 100%;
	height: 100%;;
	cursor: pointer;
}



/* iframe video, maps, etc */


.thumb-wrap {
	position: relative;
	padding-bottom: 75%; /* 56.25% задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
	height: auto;
	overflow: hidden;
  }
  .thumb-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
  }



  /* Show more details in block */

  .show-more-block:not(.expanded) {
    max-height: 300px;
    cursor: pointer;
}

.show-more-block {
    overflow-y: hidden;
    position: relative;
}


.show-more-block:not(.expanded):after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
	margin: 0;
	/* border: 1px solid red; */
}

.show-more-block:not(.expanded):before {
	position: absolute;
	left: 10px;
	top: 77%;
	content: "еще \2192";
	/*\2023 00BB 2192*/
	color: rgb(245, 222, 10);
	font-size: 14px;
	font-weight: 700;
	background-color: rgba(10, 10, 10, .5);
	padding: 2px 5px;
	z-index: 1;
	border-radius: 10px;
}


/* Social svg icons */

svg#ig-icon path {
	fill: #db7324;
	/* stroke-width: 1px;
	stroke: black; */
  }
  
  svg#fb-icon path {
	fill: #db7324;
  }
  
  svg#vk-icon path {
	fill: #db7324;
  }


  /* tour Include | Exclude */


#tour-includes ul>li:before {
	content: "\f00c \00a0";
	font-family: fontawesome;
	color: green;
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	margin-top: .5rem;
  }


  #tour-excludes ul>li:before {
	content: "\f00d \00a0";
	font-family: fontawesome;	
	color: rgb(238, 75, 75);
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	margin-top: .5rem;	
  }


  /* FeedBack Slider */

  .feedback {
	  display: flex;
	  align-items: stretch;
	  /* border: 1px solid red; */
}
.feedback__photo {
	flex: 0 0 200px;
}

.feedback__photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	/* border: 1px solid green; */
}

.feedback__text {
	flex: 1;
	background-color: lightgray;
	padding: 40px 45px;
}


@media screen and (max-width: 767px) {
	.feedback {
		flex-direction: column;
	}
	.feedback__photo {
		/* flex: 0; */
		min-height: 270px;
	}

	.feedback__photo img {
		width: 100%;
		min-height: 100%;
	}

	.feedback__text {
		padding: 25px 20px;
	}
}



/* About blocks */


.about-block {
	max-width: 1200px;
	margin: 0 auto;
	/* border: 1px solid darkorange; */
}
.featureListItem {
	display: flex;
	width: 50%;
	/* border: 1px solid blue; */
}

/* 3,4 7,8 11,12 */
.featureListItem:nth-child(4n+3) .featureListItem__text:after {
	left: -40px;
	border-width: 20px;
	border-left-color: transparent;
	border-right-color: #fff;
}

/* 4 8 12 */
.featureListItem:nth-child(4n) .featureListItem__text:after {
	left: -40px;
	border-width: 20px;
	border-left-color: transparent;
	border-right-color: #fff;
}


/* 3,4 7,8 11,12 */
.featureListItem:nth-child(4n+3),
.featureListItem:nth-child(4n)
{
	flex-direction: row-reverse;
}

/* 1,2 5,6 9,10 */
/* .featureListItem:nth-child(4n+3),
.featureListItem:nth-child(4n) */

/* 1,2 5,6 9,10 */
/* .featureListItem:nth-child(4n+1),
.featureListItem:nth-child(4n+2) */


.featureListItem__text {
	position: relative;
	padding: 10px 20px;
	flex: 0 0 50%;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.featureListItem__text::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -40px;
	width: 0;
	height: 0;
	
	border: solid transparent;
	border-width: 20px;
	border-left-color: #fff;
	transform: translate(0, -50%);
	/* background-color: yellow; */
}

.featureListItem__photo {
	height: 300px;
	flex: 0 0 50%;
	/* border: 1px solid red; */
	overflow: hidden;
}

.featureListItem__photo img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: 50% 50%;
}



@media screen and (max-width: 960px) {

	.featureListItem:nth-child(2n) .featureListItem__text:after {
		left: -40px;
		border-width: 20px;
		border-left-color: transparent;
		border-right-color: #fff;
		/* background-color: red; */
	}

	/* reset */
	.featureListItem:nth-child(n){
		flex-direction: row;
	}

	.featureListItem:nth-child(2n){
		flex-direction: row-reverse;
	}

	.featureListItem {
		width: 100%;
	}

}


@media screen and (max-width: 460px) {

	.featureListItem {
		display: block;
	}

	.featureListItem__text {
		min-height: 40vh;
	}
	.featureListItem__text::after {
		border-width: 0;
	}	

	.featureListItem:nth-child(2n) .featureListItem__text:after {
		border-width: 0;
	}
	
}



/* Difficulty level */

.difficulty-level {
	display: inline-block;
	color: #74a707;
}

.difficulty-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 1px solid;
}

.difficulty-square + .difficulty-square {
    margin-left: 5px;
}

.fill {
	background-color: #74a707;
}




/* AUX */

.basic-list>li {
	list-style: square !important;
	margin-left: 50px;
}


label.label4fz {
    margin: 6px auto 10px;
    padding: 0;
    display: block;
}


.fancybox-content {
	background: #968c8d !important;
}


/* about page */
.contact-me {
    width: 100%;
    height: 100%;
	display: flex;
	justify-content: center;
	background-color: #1c1a1c;
	color: #fff !important;
	font-family: 'PT Sans', sans-serif;
}

.contact-me__photo {
    flex: 0 0 calc(var(--photo-size)+(2*var(--photo-padding)));
    padding: 20px var(--photo-padding) 30px;
}

.contact-me__photo .photo {
    width: var(--photo-size);
    height: var(--photo-size);
    border-radius: 50%;
	border: 2px solid #fff;
	overflow: hidden;
}

.photo img {
	width: 100%;
	height: 100%;
}

.contact-me__desc {
    flex: 1;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 767px) {
	.contact-me__desc {
		flex: 0;
	}
}



/* FAQ */
.faq {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
	grid-gap: var(--faq-item-gap);
	}

.faq__item {
	/* border: 1px solid red; */
	padding: 10px 5px;
	min-height: 100px;
}

.faq__item-question {
	font-size: 1.2rem;
	font-weight: bold;
}

.faq__item-answer {
	padding-left: 30px;
	padding-top: 10px;
}


/* steps list */


.cv-steps__content {
	position: relative;
    padding-left: 40px;
}

@media screen and (max-width: 767px) {
	.cv-steps__content {
		padding-left: 10px;
	}
}

.cv-num-list {
	position: relative;
	z-index: 1;
	counter-reset: list
}

.cv-num-list:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	width: 1px;
	background-color: #0e0c0b;
	z-index: -1
}

.cv-num-list__item,
.cv-num-list li {
	counter-increment: list;
	padding-left: 70px;
	position: relative;
	font-size: 18px
}

@media screen and (max-width: 767px) {
	.cv-num-list__item,
	.cv-num-list li {
		padding-left: 50px;
		font-size: 14px
	}
}

.cv-num-list__item:not(:last-child),
.cv-num-list li:not(:last-child) {
	margin-bottom: 45px
}

.cv-num-list__item:before,
.cv-num-list li:before {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	content: counter(list);
	color: #fff;
	font-weight: 700;
	background-color: #755249;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top: -5px;
	left: 0
}

.cv-num-list__item:last-child:after,
.cv-num-list li:last-child:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 1px;
    background-color: #f7e7d0;
    z-index: -1
}

.cv-num-list__item a,
.cv-num-list li a {
    color: #fb5f3d
}

.cv-num-list__item h4,
.cv-num-list li h4 {
    margin: 0 0 10px 0
}
