/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow-x: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    /* align-items: center; */
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */

.slick-current.slick-active>div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}



/* Слайд основной */
.slick-slide.slick-current{
    /* text-align: center; */
}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


/* конкретный слайдер */
.slider-tour {
    padding-top: 0;
    position: relative;
    background-color: rgb(173, 71, 71);
    overflow: hidden;
    /* border: 2px solid blue; */
    height: calc(100vh - (var(--main-menu-height)));

}

.slider__item {
    text-align: center;
    position: relative;
}

.slider__item img {
    width: 100%;
    height: calc(100vh - (var(--main-menu-height)));;
    object-fit: cover;
    object-position: 50% 30%;
}

.slider-tour .slick-arrow{
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 0;  /*hide caption of buttons*/
    height: 100%;
    width: 40px;
    border: 0;
    outline: none;
    /* border: 1px yellow solid; */
} 

.slider-tour .slick-arrow.slick-prev{
    left: 2%;
    background: url(/images/left-arrow.svg) 45% 50% no-repeat;
    background-size: 50%;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    top: 65%;
}

.slider-tour .slick-arrow.slick-next{
    right: 2%;
    background: url(/images/right-arrow.svg) 55% 50% no-repeat;
    background-size: 50%;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    top: 65%;
}

.slider-tour .slick-arrow.slick-disabled {
    opacity: 0.3;
}

.slider-tour .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-tour .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.slider-tour .slick-dots li.slick-active button{
    border: 1px solid #fff;
    background-color: transparent;
}
/* Элемент точки */
.slider-tour .slick-dots li button{
    outline: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
}