/* Import modules */
@import "/public/css/toggle-switch.css";



:root {
	--main-menu-height: 80px;
	/* 
	var(--main-menu-height)
	*/
}


/* Обнуление */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited, a:hover {text-decoration: none;}


h1,h2,h3,h4,h5,h6{
	/* font-size:inherit; */
    line-height: 1.2;
    clear: both;
    font-weight: 500;
    margin: 15px 0;
    /* color: #252525; */
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/* Progress bar */

.top-scroll {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: transparent;
  }
  
  /* The progress container (grey background) */
  .progress-container {
	width: 100%;
	height: 4px;
	background: transparent;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
	height: 4px;
	background: #1251D2;
	width: 0%;
  }


/* Основа */

/* Right now not work correctly */
section:target:before {
    content: "";
    display: block;
    height: 80px;
	margin-top: -80px;
	/* display: hidden; */
}


html, body {
	background-color: #F9E0E0;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	/* below attempt to push footer down...try one more time */
	/* display: flex;
	flex-direction: column; */
}

.main {
	/* footer height check below */
	min-height: calc(100vh - 64px); 
	padding-top: 80px;
	/* flex-grow: 1; */
}


.img-fluid {
	width: 100%;
}

/* HiScreen */

.hiscreen {
	position: relative;
	height: 90vh;

	background-image: url(../images/bigwall.jpg);
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* new lines demo */
	display: flex;
	justify-content: center;
	align-items: center;
}


.hiscreen::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 90vh;
    z-index: 1;
	/* background: rgba(68, 68, 68, 0.5); */
	/* background-image: -moz-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,144,255,0.50));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,144,255,0.50));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,144,255,0.50));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,144,255,0.50));
	background-image: linear-gradient(top, rgba(0,0,0,0.10), rgba(0,144,255,0.50)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5000000', endColorstr='#7f0090ff');	 */
/* 
background: rgb(177,80,180);
background: linear-gradient(180deg, rgba(177,80,180,0.4374124649859944) 33%, rgba(0,212,255,0.23573179271708689) 100%); */

background: rgb(177,80,180);
background: linear-gradient(180deg, rgba(177,80,180,0.2805497198879552) 23%, rgba(0,212,255,0.23573179271708689) 72%);

}

.welcometext {
	padding: 0 15px;
	font-size: 30px;
	color: #fff;
	z-index: 2;
	text-align: center;
}

.hiscreen2 {
	height: 100vh;

	background-image: url(../images/bigwall2.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.hiscreen404 {
	height: 100vh;
	background-image: url(../images/bigwall2.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.modal404 {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-box {
	padding: 30px;
	color: #fff;
	font-size: 2rem;
	width: 50%;
	background-color: rgba(130, 130, 130, 0.6);
}

@media screen and (max-width: 767px) {
	.info-box {
		padding: 20px;
		color: #fff;
		font-size: 1rem;
		width: 70%;
		background-color: rgba(130, 130, 130, 0.6);
	}
}

/* .info-box::after {
	content: '';
	position: absolute;
	top: -15%;
	right: 0;
	width: 100%;
	height: 25vh;
    z-index: 1;
	background: rgba(68, 68, 68, 0.8);
} */



.clearfix::after { 
    content: '';
    clear: both; 
    display: block;
   }


/* End of HiScreen*/



/* ГЛАВНОЕ МЕНЮ */
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}

	.header:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		/* background-color: #B03FF7; */
		background-color: rgb(39, 39, 39);
		opacity: 0.8;
		z-index: 3;
	}

	.header__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
		padding: 0 20px;
	}
	.header__logo {
		flex: 0 0 65px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 4;
	}

	.header__logo img {
		max-width: 100%;
		display: block;
	}

	.header__burger {
		display: none;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 10px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		top: 10px;
}

	.header__burger.active span {
		display: none;
	}

	.header__list {
		display: flex;
		position: relative;
		z-index: 4;
		justify-content: center;
		flex: 2 0;
	}

	.header__list li {
		list-style: none;
		margin-left: 20px;
		font-weight: 600;
		font-size: 18px;
		padding-bottom: 7px;
		position: relative; 
	}
	.heder__link {
		color: #FFDA35;
		text-transform: uppercase;
		/* font-size:18px; */
		font-size: calc(16px + 4 * ((100vw - 320px) / 1140));
	}

	.header__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 2 0;
	}

	.rightside__menu {
		z-index: 4;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;
	}

	.right_social_links {
		display: flex;
		justify-content: center;
	}

	.right_social_links a {
		display: block;
		/* vertical-align: middle; */
	}
	
	.right_social_links_item {
		padding: 0 4px;
	}

	.get-feedback-btn {
		display: inline-table;
		height: 30px;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 800;
		border: 1px solid #fff;
		border-radius: 15px;
		color: #fff;
		background-color: #db7324;
		padding: 0 10px;
		margin-left: 5px;
		cursor: pointer;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
}


	@media screen and (max-width: 767px) {
		.lock {
			overflow: hidden; 
		}
		.header__logo {
			display: inline-flex;
			flex: 0 0 45px;
		}

		.header__body {
			height: 50px;
			justify-content: flex-end;
		}
		.header__burger {
			display: block;
			position: relative;
			z-index: 4;
			width: 30px;
			height: 20px;
		}

		.header__burger span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 3px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before,
		.header__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 3px;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before{
			top: 2px;
		}

		.header__burger:after {
			top: 16px;
		}

		.header__menu {
			position: fixed;
			left: 0;
			top: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(110, 110, 110);
			padding-top: 60px;	
			display: block;
			text-align: center;
		}
		.header__menu.active {
			top: 0;
			transition: all 0.3s ease 0s;	
		}

		.header__list {
			display: block;
			padding-top: 20px;
		}
		
		.header__list li {
			margin-left: 0;
		}

		.rightside__menu {
			display: block;
			padding-top: 20px;
		}

		.get-feedback-btn {
			/* display: inline-table; */
			margin-top: 20px;
		}

		.main {
			/* footer aux */
			padding-top: 50px;
		}

		.header__menu ul>li>a:after {
			height: 0px !important;
		}


	}


	/* Scroll to top */
	.scroll-top-btn {
		display: none;
		position: fixed;
		z-index: 100000;
		right: 30px;
		bottom: 50px;
		min-width: 50px;
		min-height: 50px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}	

	/* menu EFFECTS */

	.header__menu ul>li>a:hover:after {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left
	}
	
	.header__menu ul>li>a:after {
		content: "";
		display: block;
		height: 3px;
		border-radius: 10px;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: .4s -webkit-transform;
		-o-transition: .4s -webkit-transform;
		transition: .4s -webkit-transform;
		-webkit-transition: .4s transform;
		-o-transition: .4s transform;
		transition: .4s transform;
		-webkit-transform-origin: 100% 0;
		-ms-transform-origin: 100% 0;
		transform-origin: 100% 0;
		background: #FFDA35;
		opacity: .9;
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		z-index: 333
	}
	/* END of EFFECTS */



/* КОНЕЦ ГЛАВНОЕ МЕНЮ */

.block-title {
	text-align: center;
	font-size: 30px;
	font-weight: 500;	
}


/* ТУРЫ на ГЛАВНОЙ */

em {
	color: #854141;
	font-size: 1.2rem;
	font-weight: bolder;
}

.tourItem {
	padding: 30px 20px;
}

.tourWrapper {
	border-style: solid 1px #643C3C;
	border-radius: 0 0 15px 15px;
	background-color: rgb(204, 201, 201);
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}


.tourWrapper:hover {
	box-shadow: 2px 2px 0 1px rgb(70, 69, 69), 0 0 0;
}

.tour-content-text {
	padding: 10px;
	color: #000;
}

.tour-content-btn {
	padding: 0 10px 10px 10px;
	display: inline-block;
}

.get-tourinfo-btn {
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	border: black 1px solid;
	border-radius: 5px;
	background-color: #d90070;
	color: #fff;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}



/* КОНЕЦ ТУРЫ на ГЛАВНОЙ */

/* ПРОГРАММА ТУРА ПО ДНЯМ*/

.days-list {
	max-width: 800px;
	margin: 0 auto;
}

.day-item {
	margin-bottom: 10px;
	padding-bottom: 30px;
	background-color: #fff;
}

.day-item-title {
	/* cursor: pointer; */
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: blueviolet;
	padding: 5px 10px;
/*
    padding-left: 50px;
    padding-right: 20px;
    background-image: url(../images/day-open.png);
    background-position: 10px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
*/
}

.day-item-content {
	padding: 0 10px 10px 10px;
	text-align: justify;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	line-height: 1.67;
}
.day-item-content img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	margin: 10px auto;
}


.day-item-content p {
	text-indent: 20px;
}

.t778__scroll-icon-wrapper {
	text-align: right;
	margin-right: 10px;
	display: none;
}
@media screen and (max-width: 600px){

	.days-list {
		max-width: 100%;
		overflow-x: scroll;
		display: flex;
		flex-direction: row-reverse;
	}

	.day-item {
		min-width: 70%;
		margin: 10px 20px;
		background-color: burlywood;
	}

	.day-item:last-child {
		/**
		 * This is the first part of a flexbox hack.
		 * It addresses a problem flexbox has with scrolling
		 * content. Without this hack, the children on the
		 * far right of the container will be flush against
		 * the container's right edge.
		 */
		position: relative;
	  }
	  
	  .day-item:last-child::before {
		/**
		 * This is the second part of the hack. It creates
		 * an invisible element on the last child that
		 * forces a space between the child and the right
		 * edge of the container.
		 */
		display: block;
		width: 20px;
		height: 1px;
		position: absolute;
		top: 0;
		right: 100%;
		visibility: hidden;
		content: "";
	  }



	.day-item-content {
		font-size: 12px;
	}

	.day-item-title {
		font-size: 16px;
	}

	.t778__scroll-icon-wrapper {
		display: block;
	}

	.t778__scroll-icon {
		-webkit-animation: t778__icon-anim 1.5s infinite;
		animation: t778__icon-anim 1.5s infinite;
	}
}


/* ПРобы с Блоком краткой информации*/


.advantage {
	border: solid 2px #F88310;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.tour-brief>div {
	/* border: 1px solid red; */
	text-align: center;
	margin: 20px 0;
}

.tour-brief>div div {
	border: 1px solid blue;
}


/* МЕДИА-ЗАПРОСЫ */


.owl-carousel div {
	height: 50px;
	background-color: #F88310;
}



@keyframes t778__icon-anim {
	0% {
		transform: translate3d(-20px, 0, 0);
		opacity: 0
	}
	10% {
		transform: translate3d(-20px, 0, 0);
		opacity: 0
	}
	20% {
		transform: translate3d(-20px, 0, 0);
		opacity: 1
	}
	70% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	80% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	81% {
		transform: translate3d(0, 0, 0);
		opacity: 0
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0
	}
}
.t778__scroll-icon {
	-webkit-animation: t778__icon-anim 1.5s infinite;
	animation: t778__icon-anim 1.5s infinite
}


/* МОДАЛЬНЫЕ ОКНА */


/* МОДАЛЬНЫЕ ОКНА */

/* ФОРМЫ И ЭЛЕМЕНТЫ */
	input {
		display: block;
		border: 2px solid lightgray;
	}
	
	input[type="text"],
	input[type="tel"],
	input[type="textarea"] {
		height: 56px;
		font-size: 1.33rem;
		font-weight: bold;
		line-height: 1.7rem;
		width: 100%;
		/* outline: none; */
		
		border-radius: 5px;
		padding: 0 10px;
		font-family: 'Ubuntu', sans-serif;	
	}

	input[type="submit"] {
		border-radius: 10px;
		font-size: 20px;
		width: 100%;
		border: none;
		/*outline: none;*/
		padding: 10px;
		height: 56px;
		background-color: #FFA13C;
	}

	input[type="textarea"] {
		font-size: 0.8rem;
	}


/* /ФОРМЫ И ЭЛЕМЕНТЫ */


/* Accordion component */

.accordion {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.acc-wrapper {
	border-top: 2px solid #000;
}

.acc-wrapper:last-of-type {
	border-bottom: 2px solid #000;
}

.acc-header {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.acc-header-title {
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	flex: 1 0;
	padding: 25px 10px;
}

.acc-header-btn {
	flex: 0 0 60px;
	padding: 0 10px;
	transition: transform .4s ease-in-out;
}

.acc-header-btn img {
	width: 100%;
	height: auto;
}

.acc-content {
	max-height: 0px;
	overflow: hidden;
	padding: 0 20px;
	transition: max-height ease-in-out .3s,opacity ease-in-out .3s
}
.acc-content-desc {
	padding: 20px 0;
	/* border-bottom: 2px solid #000; */
}

.rotated90 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-moz-transform: rotate(90deg); /* Firefox */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
  }

._opened, .acc-header:hover {
  background-color: rgb(228, 228, 228);
}

/* END of Accordion component */


/* FOOTER */
.footer {
	position: absolute;
	/* left: 0; */
	/* bottom: 0; */
	background-color: #6B6B6B;
	color: #fff;
	font-size: 1.1rem;
	width: 100%;
	padding: 10px;
	text-align: center;

}





/* iframe video, maps, etc */


.thumb-wrap {
	position: relative;
	padding-bottom: 75%; /* 56.25% задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
	height: 0;
	overflow: hidden;
  }
  .thumb-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
  }



  /* Show more details in block */

  .show-more-block:not(.expanded) {
    max-height: 300px;
    cursor: pointer;
}

.show-more-block {
    overflow-y: hidden;
    position: relative;
}


.show-more-block:not(.expanded):after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
	margin: 0;
	/* border: 1px solid red; */
}


.show-more-block:not(.expanded):before {
	position: absolute;
	left: 10px;
	top: 85%;
	content: "еще \2192";
	/*\2023 00BB 2192*/
	color: rgb(245, 222, 10);
	font-size: 14px;
	font-weight: 700;
	background-color: rgba(10, 10, 10, .5);
	padding: 2px 5px;
	z-index: 1;
	border-radius: 10px;
}


/* Social svg icons */

svg#ig-icon path {
	fill: #db7324;
	/* stroke-width: 1px;
	stroke: black; */
  }
  
  svg#fb-icon path {
	fill: #db7324;
  }
  
  svg#vk-icon path {
	fill: #db7324;
  }